/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/




.top-buffer { margin-top:30px; }
.top-margin { margin-top:5px; }

.body
{
	background:#f6f6f6;
}

.container
{

	background:#ffffff;
}

.orange_line
{
	background-color: #ff7800;
	height: 5px;
}

.logo_image
{
	width:150px;
	height:auto;
}

.search_box{  /* Drowing gradient */
	background: #ffaf4b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWY0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZhZjRiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMiUiIHN0b3AtY29sb3I9IiNmZmFmNGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZkMTllIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #ffaf4b 0%, #ffaf4b 1%, #ffaf4b 2%, #ffd19e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(1%,#ffaf4b), color-stop(2%,#ffaf4b), color-stop(100%,#ffd19e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ffaf4b 1%,#ffaf4b 2%,#ffd19e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffaf4b 0%,#ffaf4b 1%,#ffaf4b 2%,#ffd19e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffaf4b 0%,#ffaf4b 1%,#ffaf4b 2%,#ffd19e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffaf4b 0%,#ffaf4b 1%,#ffaf4b 2%,#ffd19e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ffd19e',GradientType=0 ); /* IE6-8 */

	padding: 8px 8px 0px 5px;
	margin-left:-12px !important;
    margin-top: 15px;
	width:100%;
	-moz-border-radius: 15px;
	border-radius: 10px;
	min-height:40px;

}

.filter_bar{
	min-height:40px;

}



@media (min-width:780px) { /*For highier resolution like all PC, everything smaller like for tablets and phones*/

	 .dotted_limiter{
 	background-color: #FFFFFF;
 	border-width: 1px;
 	border-color: #CCCCCC;
 	border-style:dashed none dashed none;
 	margin: 10px 0px 10px;
 	color: white;
 	height:3px;
	width: -moz-calc(100% + 40px);
	width: -webkit-calc(100% + 40px);
	width: -o-calc(100% + 40px);
	width: calc(100% + 40px);
 	padding: 0px -25px 0px -25px !important;
 	margin-left:-20px !important;
 }



.left_shadow{

padding: 0px 25px 0px 25px;
-webkit-box-shadow: -5px 0px 5px rgba(156, 159, 156, 0.75);
-moz-box-shadow:    -5px 0px 5px rgba(156, 159, 156, 0.75);
box-shadow:         -5px 0px 5px rgba(156, 159, 156, 0.75);
}


	.right_shadow{
padding: 0px 25px 0px 0px;
-webkit-box-shadow: 5px 0px 5px rgba(156, 159, 156, 0.75);
-moz-box-shadow:    5px 0px 5px rgba(156, 159, 156, 0.75);
box-shadow:         5px 0px 5px rgba(156, 159, 156, 0.75);
}





	.search_button_layout
	{
		width:100%;
		height:35px;
	}

	.search_input_text
	{
		width:100%;
		height:25px !important;
	}

	.search_input
	{
		width:109%;
		height:35px !important;
	}


}


.nohover a:hover { background-color: transparent; }


@media (max-width:779px) { /* For small resulution, like for tablets, when input fields not fit into one line*/

 .dotted_limiter{
 	display: none;
 }
	.search_button_layout
	{
		width:100%;
		height:35px !important;
		margin-left: 0px !important;
		padding-left: 0px !important;
		padding-right:5px !important;
	}
	.search_input
	{
		width:100%;
		height:35px !important;
	}

	.search_input_text
	{
		width:98%;
		height:25px !important;

	}

}





#footer {
    background: url("/assets/footer-bg.png") repeat-x scroll left top #E6E6E6;
    padding: 25px 0 50px;
    margin-top: 30px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
div.footer-inner {
    color: #797878;
    line-height: 18px;
    margin: 0 auto;
    /*width: 1040px;*/
    max-width: 1170px;
    padding: 5px;
    /*width: 71.5%;*/
}
.clearfix {
    display: block;
}
div.footer-section1, div.footer-section2, div.footer-section3, div.footer-section4 {
    /*float: left;*/
    /*width: 190px;*/
    /*width: 20%;*/
}

div.footer-section5 {
    /*float: right;*/
    /*width: 115px;*/
    /*width: 15%;*/
}
div.footer-inner h6 {
    background: url("/assets/title-bullet.png") no-repeat scroll 0 4px transparent;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 0 8px 22px;
}
div.footer-section1 p {
    text-align: justify;
}

ol, ul {
    list-style: none outside none;
}

ul.about li {
    padding: 4px 0 0 4px;
}

ul.about li a {
    background: url("/assets/footer-nav-bullet.png") no-repeat scroll 0 4px transparent;
    color: #797878;
    padding: 0 0 0 12px;
}
ul.twitter {
    padding: 8px 0 48px 0;
}

ul.twitter li {
    float: left;
    margin: 0 0 0 5px;
}
ul.twitter li.face a {
    background: url("/assets/footer-share-img.png") no-repeat scroll left top transparent;
}
ul.twitter li a {
    display: block;
    height: 32px;
    text-indent: -9999em;
    width: 32px;
}
ul.twitter li.twit a {
    background: url("/assets/footer-share-img.png") no-repeat scroll left -126px transparent;
}

ul.about li {
    padding: 4px 0 0 4px;
}

ul.about li a {
    background: url("/assets/footer-nav-bullet.png") no-repeat scroll 0 4px transparent;
    color: #797878;
    padding: 0 0 0 12px;
}
ul.contact-links {
    /*padding: 10px 0 0 22px;*/
}
div.footer-inner {
    color: #797878;
    line-height: 18px;
}

ul.contact-links li {
    font-size: 80%;
    line-height: 19px;
}
div#footer a:hover {
	color: #FF7800;
}
ul.contact-links li.mail a {
    background: url("/assets/contact-link-sprite.png") no-repeat scroll 0 -62px transparent;
}
ul.contact-links li.mail a:hover {
    background: url("/assets/contact-link-sprite.png") no-repeat scroll 0 -192px transparent;
}
ul.contact-links li.phone a {
    background: url("/assets/contact-link-sprite.png") no-repeat scroll 0 0px transparent;
}
ul.contact-links li.phone a:hover {
    background: url("/assets/contact-link-sprite.png") no-repeat scroll 0 -132px transparent;
}
ul.contact-links li a {
    display: block;
    padding: 5px 0 8px 25px;
}

div.footer-inner h6 {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 0 8px 22px;
}
div.footer-inner h6.footer-logo {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
    text-align: center;
}

h6.footer-logo a {
    /*background: url("/assets/footer-logo.png") no-repeat scroll 0 0 transparent;*/
    /*display: block;*/
    height: 88px;
    text-indent: -9999em;
    /*width: 112px;*/
    width: 65%;
}
h6.footer-logo a:hover {
	background: none;
}

#agriya p {
    color: #495561;
    font-size: 11px;
    padding: 5px 0;
    text-align: center;
}




.map-region-block {
    color: #F58220;
}
.map-region-block a:hover {
    color: #FF7800;
}

div.sub-heading-block {
    background: url("/assets/title-bg.png") repeat-x scroll left 19px transparent;
}

div.sub-heading-block h2 {
    float: left;
    margin: 0;
}
.map-region-block h2, .sub-heading-block h2 {
    background: url("/assets/title-bullet.png") no-repeat scroll 0 13px #FFFFFF;
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 0 20px;
}
div.region-list-block {
    padding: 25px 0 0;
}
.RegionList {
    float: left;
}
.map-region-block .RegionBox {
    width: 235px;
}
.map-region-block .RegionBox a {
    background: url("/assets/home-category-bullet.png") no-repeat scroll 10px 14px transparent;
    display: block;
    float: left;
    font-size: 15px;
    padding: 8px 10px 8px 25px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
a#view_more_provinces:hover {
    text-decoration: none;
}
a#view_more_provinces:focus {
    text-decoration: none;
    outline: none;
}
.map-region-block .RegionBox a:hover {
    background: url("/assets/home-category-bullet.png") no-repeat scroll 10px 14px #FBF1D3;
    border-radius: 3px 3px 3px 3px;
    text-decoration: none !important;
}



.home-category-block {
    margin: 20px 0 0;
    padding: 0 10px;
}
.more-categories-block {
    background: url("/assets/dropdown-bg-l.png") repeat-x scroll left top transparent;
    float: right;
    margin: 5px 0 0;
    padding: 0 0 0 5px;
    min-width: 123px;
    font-size: 75%;
}

.more-categories-block a {
    background: url("/assets/dropdown-bg-r.png") no-repeat scroll right top transparent;
    display: block;
    padding: 7px 30px 7.5px 2px;
}
.more-categories-block:hover {
    background-position: left bottom;
}
.more-categories-block a.up-arrow {
    background: url("/assets/up-bg-r.png") no-repeat scroll right top transparent;
}
.more-categories-block a.up-arrow:hover {
    background: url("/assets/up-bg-r.png") no-repeat scroll right bottom transparent;
}
.more-categories-block:hover a {
    background-position: right bottom;
    color: #999999;
}
.home-category-block {
    margin: 20px 0;
    padding: 0 10px;
}
.home-category-block ul {
    margin: 25px 0 0;
}
.home-category-block li {
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    float: left;
    margin: 0 8px 0 5px;
    min-height: 156px;
    padding: 5px;
    text-align: center;
    width: 120px;
    line-height: 20px;
}
#more_Categories li a:hover {
    background: none;
    text-decoration: none;
}
.home-category-list li a:hover {
    text-decoration: none;
    background: none;
}
#view_more_category:hover {
    text-decoration: none;
}
#view_more_category:focus {
    text-decoration: none;
    outline: none;
}
.home-category-block li:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 1px #F0F0F0;

    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 63%, rgba(229,235,238,1) 98%, rgba(215,222,227,1) 100%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(63%,rgba(229,235,238,1)), color-stop(98%,rgba(229,235,238,1)), color-stop(100%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 63%,rgba(229,235,238,1) 98%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 63%,rgba(229,235,238,1) 98%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 63%,rgba(229,235,238,1) 98%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 63%,rgba(229,235,238,1) 98%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}
.home-category-block li h3 {
    color: #4F4E4E;
    font-size: 14px;
    font-weight: 400;
    /*padding: 10px 0;*/
    text-align: center;
    margin: 0;
    line-height: 20px;
}

#new_button_bg {
    background: #d2ff52; /* Old browsers */
    background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 74%, #91e842 81%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(74%,#91e842), color-stop(81%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d2ff52 0%,#91e842 74%,#91e842 81%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d2ff52 0%,#91e842 74%,#91e842 81%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d2ff52 0%,#91e842 74%,#91e842 81%); /* IE10+ */
    background: linear-gradient(to bottom, #d2ff52 0%,#91e842 74%,#91e842 81%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
    padding: 3px 20px;
    /*width: 100%;*/
    color: black;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid #85938E;
}
#new_button_bg:hover {
    background: rgb(145,232,66); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(145,232,66,1) 35%, rgba(210,255,82,1) 89%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(145,232,66,1)), color-stop(89%,rgba(210,255,82,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(145,232,66,1) 35%,rgba(210,255,82,1) 89%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(145,232,66,1) 35%,rgba(210,255,82,1) 89%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(145,232,66,1) 35%,rgba(210,255,82,1) 89%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(145,232,66,1) 35%,rgba(210,255,82,1) 89%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#d2ff52',GradientType=0 ); /* IE6-9 */
color: black;
text-decoration: none;
}

form.search {
    background: url("/assets/header-search-l.png") no-repeat scroll left 0 transparent;
    margin: 5px 0;
    padding: 0 0 0 34px;
    width: auto;
    float: right;
}
div.header-search-r {
    background: url("/assets/header-search-r.png") no-repeat scroll right 0 transparent;
    padding: 0 7px 0 0;
}
div.header-search-r div.search-block {
    background: url("/assets/header-search-m.png") repeat-x scroll 0 0 transparent;
    padding: 7px 0;
}
form.top-search .search-text-cate {
    width: 172px;
}

form.top-search .search-text-cate {
    width: 172px;
}
form.top-search .search-text-block {
    margin: 0;
    width: 258px;
}
.search-text-block {
    float: left;
    margin: 0 5px 0 0;
    width: 362px;
}
.js-overlabel {
    margin: 0 0 0 5px;
    position: relative;
}

#header form.search div.input {
    color: #4F4E4E;
    float: left;
    height: 27px;
    overflow: hidden;
    position: relative;
}
form.top-search .search-text-cate div.input {
    background: url("/assets/search-input-bg.png") no-repeat scroll 0 0 transparent;
    width: 168px;
}
form.search div.input label {
    padding: 3px 12px 3px 0;
    width: auto;
}
label.overlabel-apply, form.normal .overlabel-wrapper label.overlabel-apply {
    color: #4F4E4E;
    font-size: 12px;
    left: 4px;
    position: absolute;
    text-align: left;
    top: 9px;
    width: auto;
    z-index: 1;
}

div.all_provinces, div.select_category {
    float: left;
    margin: 0 5px 0 0;
}

form.top-search div.all_provinces div.input, form.top-search div.select_category div.input {
    background: url("/assets/hearder-select-input-bg.png") no-repeat scroll 0 0 transparent;
}
form.top-search div.select {
    padding: 8px 3px 3px;
    width: 140px;
}

form.top-search div.header-search-r div.select select {
    padding: 0 0 9px 3px;
    width: 160px;
}
form.top-search div.select select {
    -moz-appearance: window;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 12px;
    height: 29px;
    width: 160px;
}

form.search div.submit {
    background: url("/assets/search-l.png") no-repeat scroll left top transparent;
    float: left;
    height: 37px;
    margin: 0;
    padding: 0 0 0 5px;
    width: 75px;
}
form.search div.submit input {
    background: url("/assets/search-r.png") no-repeat scroll right top transparent;
    border: medium none;
    color: #333333;
    cursor: pointer;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 37px;
    padding: 0 5px 4px 0;
    text-align: center;
    width: 73px;
}
.styled-select1 select {
   background: transparent;
   width: 130%;
   padding: 5px;
   font-size: 11px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
.styled-select1 {
   width: 110%;
   height: 34px;
   overflow: hidden;
   background: url("/assets/select_arrow.png") no-repeat right white;
   border: 1px solid #ccc;
   border-radius: 5px;
}
.styled-select2 select {
   background: transparent;
   width: 130%;
   max-width: 200px;
   padding: 5px;
   font-size: 11px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 36px;
   -webkit-appearance: none;
   }
   select:focus {
     outline: none;
   }
.styled-select2 {
   width: 110%;
   max-width: 180px;
   overflow: hidden;
   background: url("/assets/select_arrow.png") no-repeat right white;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin:0 5px;
}
.shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}



/*All css*/

.product-info-block {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 20px 0 0;
}
div.view-top {
    background: url("/assets/view-top-bg.png") repeat-x scroll left bottom #F4F4F4;
    border-bottom: 1px solid #DBDFE7;
    color: #5F5E5E;
    /*margin: 0 -34px;*/
    padding: 10px 40px 0;
}
div.item-sold-block, div.view-top div.list, ul.display-list, ul.display-list li {
    float: left;
}
div.view-top {
    color: #5F5E5E;
}
div.view-top div.list .ui-tabs {
    background: url("/assets/big-sep.png") no-repeat scroll right 0 transparent;
    float: left;
    padding: 14px 0 0;
}
.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.ui-tabs .ui-tabs-nav {
    background: none repeat scroll 0 0 transparent;
    list-style: none outside none;
    position: relative;
}
div.view-top .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    background: url("/assets/view-ui-tab-l.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0 0 0 5px;
}

div.view-top .ui-tabs .ui-tabs-nav li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0 0 0 5px;
}
.ui-tabs .ui-tabs-nav li {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #DFDFDF;
    float: left;
    margin: 0 0.2em -1px 0;
    padding: 0;
    position: relative;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled {
    background-image: none;
    opacity: 0.35;
}

div.view-top .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    background: url("/assets/view-ui-tab-r.png") no-repeat scroll right 0 transparent;
    padding: 10px 20px 10px 10px;
}

div.view-top .ui-tabs-nav li a span {
    color: #FF7800;
}

div.view-top .ui-tabs .ui-tabs-nav li a {
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 20px 10px 10px;
}

div.add-pic-block {
    float: left;
    margin: 17px 0 0 10px;
}

div.view-top div.sort-block {
    background: url("/assets/big-sep.png") no-repeat scroll left 0 transparent;
    float: right;
    padding: 11px 0 5px 20px;
}

div.view-top div.sort-block div.input {
    float: left;
}

div.sort-block div.select label {
    font-size: 12px;
    padding: 0 5px 0 0;
}
div.sort-block div.select select {
    background: url("/assets/select-bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #CACACA;
    color: #686868;
    font-size: 12px;
    padding: 5px;
    width: 120px;
}

div.display-block {
    background: url("/assets/big-sep.png") no-repeat scroll left 0 transparent;
    float: right;
    padding: 15px 20px 5px;
}
div.item-sold-block, div.view-top div.list, ul.display-list, ul.display-list li {
    float: left;
}

ul.display-list li {
    margin: 0 2px;
}
div.item-sold-block, div.view-top div.list, ul.display-list, ul.display-list li {
    float: left;
}

ul.display-list li.active a {
    background: url("/assets/display-sprite-active.png") no-repeat scroll left bottom transparent;
}
ul.display-list li.grid-view a {
    background-position: -30px 1px;
}
div.dollar {
    background: url("/assets/header-m.png") repeat-x scroll left bottom transparent;
    padding: 6px 0 10px;
}

div.dollar h2 {
    background: none repeat scroll 0 0 transparent;
    color: #4C4C4C;
    float: left;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 7px;
    width: auto;
}
div.dollar h2.links a {
    background: none repeat scroll 0 0 transparent;
}

div.dollar h2.links a, div.dollar h2.links span {
    background: url("/assets/link-bullet.png") no-repeat scroll left 5px transparent;
    color: #42ACE9;
    font-size: 12px;
    line-height: 15px;
    padding: 0 8px 0 15px;
}
div.paging_counter-block {
    float: right;
}
p.page-counter {
    color: #5F5E5E;
    padding: 10px 20px 10px 10px;
    text-align: left;
}
div.product-info-block ol.list {
    margin: -1px 0 0;
}
ol.add-list li {
    margin: 0;
    padding: 2px 0 0;
}
ol.list li {
    background: url("/assets/list-top-line.png") repeat-x scroll 0 0 transparent;
    display: block;
}
ol.list li div.list-inner {
    padding: 23px 0;
}
.time_left_block {
    background: url("/assets/timer-icon.png") no-repeat scroll 50% 25px transparent;
    float: left;
    font-size: 12px;
    line-height: 15px;
    padding: 60px 5px 20px;
    text-align: center;
    width: 100px;
}

div.product-description-left-block {
    display: inline;
    float: left;
    margin: 0 10px 0 0;
    width: 135px;
}
div.product-img {
    background: url("/assets/img-frame.png") no-repeat scroll 0 0 transparent;
    height: 95px;
    margin: 0;
    padding: 4px 0 0;
    position: relative;
    text-align: center;
    width: 130px;
    z-index: 1;
}

.container_12 .grid_5 {
    width: 540px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.omega {
    margin-right: 0 !important;
}
.alpha {
    margin-left: 0 !important;
}

ol.list li div.list-inner h3 {
    font-size: 18px;
    line-height: 22px;
}
div.product-description-right-block h3 {
    padding: 0 0 10px;
}
ol.list li div.list-inner h3 a {
    color: #333333;
}
div.other-items-outer {
    font-size: 11px;
}
ul.item-location-block li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #838385;
    float: left;
    padding: 10px 10px 10px 15px;
}
ul.item-location-block li.item-loc {
    background: url("/assets/location1-icon.png") no-repeat scroll left 8px transparent;
}
ul.item-location-block li {
    color: #838385;
}

ul.item-location-block li.item-type {
    background: url("/assets/second-icon.png") no-repeat scroll left 7px transparent;
}
p.item-amount-block {
    color: #FF7800;
    float: left;
    font-size: 18px;
    font-weight: 700;
    padding: 25px 10px 0;
    text-align: left;
    width: 115px;
}
ol.list li div.list-inner p.item-amount-block {
    background: url("/assets/medium-price-icon.png") no-repeat scroll 0 32px transparent;
    padding: 40px 10px 5px 35px;
}

div.paging {
    clear: both;
    height: 25px;
    margin: 25px auto 0;
    padding: 0;
    text-align: center;
}

div.paging span.current, div.paging a:hover {
    background: none repeat scroll 0 0 #FFEFDF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
}
div.paging a, div.paging span.prev, div.paging span.next, div.paging span.current {
    padding: 5px 10px;
}
div.paging a, div.paging span {
    color: #42ACE9;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
div.paging a {
    background: url("/assets/pagination-bg.png") repeat-x scroll left bottom transparent;
    border: 1px solid #A6A6A6;
    border-radius: 3px 3px 3px 3px;
}

div.paging span.skip {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
}

p.view-page-info {
    padding: 10px;
    text-align: center;
}

p.view-page-info a {
    margin: 0 3px;
    text-decoration: underline;
    text-transform: uppercase;
}

div.view-top .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    background: url("/assets/view-ui-tab-l.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0 0 0 5px;
}