@media (min-width:1000px) and (max-width:1200px) {


  div.region-list-block {
    margin-left: 80px !important;
  }
}
@media (min-width:1200px) and (max-width:1500px) {
  div.region-list-block {
    margin-left: 40px;
  }
}
@media (min-width:767px) and (max-width:980px) { /*For highier resolution like all PC, everything smaller like for tablets and phones*/

  .button_sell{
padding: 8px 5px 8px 5px !important;
margin: 0px 10px 0 0px !important;
width: 110px  !important;
display: inline-block !important;
box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.button_sell span{
    width:  80px  !important;
}


  .grid-list li div div div.other-items-outer{
margin: 0 0 0 -7px !important;
}
.grid-list{
  margin-left: -5px !important;
}

.product-description-right-block{
  width:60%;
}
  .item-amount-block{
    float:right !important;
    margin-top: -70px !important;
    
  }

	.home-category-list{
		width: 700px !important;

	}
	.layout_upper_div{
    width: 554px !important;
    margin-left: -10 !important;
}

	.layout_search_field_1{
    float:left;
    margin:0 2px 0 0;
    padding: 5px;
    width:33%;
    min-width:100px;
}
input{
      border: 1px solid #d97620 !important;
      border-radius: 3px !important;
}

.layout_search_field_2{
float:left;
padding: 0 0 0 5px;
height:36px;
width:24%;
min-width:100px;
margin:5px 3px 0 1px  !important;
border: 1px solid #d97620 !important;
border-radius: 3px !important;
}

.layout_search_field_3{

float:left;
padding: 0 0 0 5px;
height:36px;
width:24%;
min-width:100px;
margin:5px 3px 0 0  !important;
border: 1px solid #d97620 !important;
      border-radius: 3px !important;
}


    .home_page_main_div{
    background: url('/assets/home-map-bg.png') repeat-x scroll center -140px #FFFFFF;
    }
.map_container{
    margin-left: 0px;
    width: 720px;
    overflow: hidden;
}
.layout_sell_button{
    width: 44px !important;
    min-width: 44px !important;
    padding: 0px 0px 0px 0px !important;
    margin: 5px 0px 0px 0px !important;
}

.map-side-img{
  display:none;
}


	 .dotted_limiter{
 	background-color: #FFFFFF;
 	border-width: 1px;
 	border-color: #CCCCCC;
 	border-style:dashed none dashed none;
 	margin: 10px 0px 10px;
 	color: white;
 	height:3px;
	width: -moz-calc(100% + 40px);
	width: -webkit-calc(100% + 40px);
	width: -o-calc(100% + 40px);
	width: calc(100% + 40px);
 	padding: 0px -25px 0px -25px !important;
 	margin-left:-20px !important;
 }



.left_shadow{

padding: 0px 25px 0px 25px;
-webkit-box-shadow: -5px 0px 5px rgba(156, 159, 156, 0.75);
-moz-box-shadow:    -5px 0px 5px rgba(156, 159, 156, 0.75);
box-shadow:         -5px 0px 5px rgba(156, 159, 156, 0.75);
}


	.right_shadow{
padding: 0px 25px 0px 0px;
-webkit-box-shadow: 5px 0px 5px rgba(156, 159, 156, 0.75);
-moz-box-shadow:    5px 0px 5px rgba(156, 159, 156, 0.75);
box-shadow:         5px 0px 5px rgba(156, 159, 156, 0.75);
}





	.search_button_layout
	{
		width:100%;
		height:35px;
	}

	.search_input_text
	{
		width:100%;
		height:25px !important;
	}

	.search_input
	{
		width:109%;
		height:35px !important;
	}

  div.region-list-block {
    margin-left: 100px;
  }


ol.grid-list{
    vertical-align: right;
}
ol.grid-list > li{-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px;-o-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;background:none repeat scroll 0 0 transparent;border:1px solid #DDD;position:relative;width:229px;margin:10px 0 0 10px; display: table-cell; width: 229px !important; float:left; padding:0 ;}
ol.grid-list li .time_left_block{float:none;background:url(/assets/timer-icon.png) no-repeat scroll 50% 3px;width:95px;margin:0 auto;padding:30px 5px 5px;}
ol.grid-list li div.product-description-left-block{float:none;margin:0;}
ol.grid-list li div.product-description-right-block{width:150px;float:none;}
ol.grid-list li div.product-img{margin:0 auto;}
ol.grid-list li div.list-inner{-webkit-border-radius:10px 10px 10px 10px;-webkit-box-shadow:0 0 4px #ccc inset;-moz-border-radius:10px;-moz-box-shadow:0 0 4px #ccc inset;-o-border-radius:10px 10px 10px 10px;-o-box-shadow:0 0 4px #ccc inset;border-radius:10px 10px 10px 10px;box-shadow:0 0 4px #ccc inset;border:1px solid #fff;padding:10px 20px;}
ol.grid-list li div.list-inner h3{height:45px;padding:10px 0;}
ol.grid-list li div.list-inner h3 a{display:block;text-align:center;}
ol.grid-list li div.item-sold-block{left:-7px;position:absolute;top:-7px;}
ol.grid-list li div.item-other-details dl{width:190px;}
ol.grid-list li div.item-other-details dl dd{width:105px;}
ol.grid-list li div.list-inner p.item-amount-block{background:url(/assets/medium-price-icon.png) no-repeat 0 12px;padding:16px 10px 5px 35px;}
ol.grid-list > li:hover div.list-inner{background:none;-webkit-box-shadow:0 0 4px #ff7c07 inset;-moz-box-shadow:0 0 4px #ff7c07 inset;-o-box-shadow:0 0 4px #ff7c07 inset;}
ol.grid-list > li:hover{border:1px solid #ffad64;background:#fff5ec;}
ol.grid-list li div.list-inner div.product-description-right-block div.other-items-outer{max-height:30px !important;}

}