/*@media (min-width:400px) and (max-width:767px) { /* For small resulution, like for tablets, when input fields not fit into one line*/
  @media (max-width:767px) {

    .option_select_block{
      height: auto  !important;
    }
    .option_select_block select{
      display: block;
      height: auto  !important;
    }

.grid-list{
  margin-top: 2px !important;
}
  .grid-list li div div div.other-items-outer{
margin: 0 0 0 -10px !important;
}

.ad_types_block li{
  padding: 2px 2px 8px 2px !important;
  margin: 0 0 15px !important;

}
.ad_types_block li a {
  padding: 4px 4px 3px 4px !important;
  margin: 0 0 0 !important;

}
    .sort-block{
      padding: 10px 5px 0 0 !important;
      margin: 0 0 0 0 !important;
    }

    .item-location-block li a{
  margin: 0 !important;
  padding: 10px 5px 0 5px !important;
  }

.links , .links a{
  margin: 0 !important;
  padding: 0 !important;
}
.item-loc{
  padding: 10px 10px 0 10px !important;
}

.mobile_date{
  margin: 7px 0 0 5px
}
.item-loc span{
  margin: 0 5px 0 5px !important;
}

.item-amount-block{
  margin: 0 0 0 0 !important;
  padding: 15px 0 5px 30px !important;
  background: url("/assets/medium-price-icon.png") no-repeat scroll 0 10px transparent !important;
}

.item-type{
  margin: 0 5px 0 0 !important;
  padding: 10px 5px 0 10px !important;
}
.product-description-right-block{
  width: 65% !important;
    margin: 0 !important;
  padding: 0 !important;
}

.product-description-left-block
{
  margin: 0 !important;
  padding: 0 !important;
}


.display-block{
  padding: 9px 5px !important;
  float: left !important;
}

.page-counter{
 margin: 0 0 5px !important;
 padding: 0 !important;
}

.list-inner{
 margin: 0 !important;
  padding: 0 !important;
}

.paging_counter-block
{
  margin: 0 !important;
  padding: 0 !important;
}

.display-list
{
  margin: 0 !important;
  padding: 0 !important;
}

.view-top{
  margin: 0 !important;
  padding: 0 !important;
}
.about li{
display: inline-block;
margin-top: 0px !important;
}

.contact-links li{
display: inline-block;
margin: 0 10px 0 0 !important;
}

.twitter{
margin: 0 0 10px 0 !important;
padding: 0 !important;

}

h6{
margin-top: 0px !important;
}

  .main_page_header{
    display: none;
  }
  .upper_buttons_layout_div{
    float:none;
     text-align: center;
     margin: 10px -25px 0px -25px !important;

  }

  .mobile_sell_button{
    display:block;
  }

  .layout_search_field_1{
    display: block !important;
    height:27px;
    margin:5px -20px 5px 0px !important;
    width: 80% !important;
    width: -moz-calc(104.4% - 70px ) !important;
    width: -webkit-calc(104.4% - 70px) !important;
    width: -o-calc(104.4% - 70px ) !important;
    width: calc(104.4% - 70px) !important;
  }

  .layout_search_field_2{
    padding: 0 0 0 5px;
    height:36px;
    display: block !important;
    width: 90% !important;
        width: -moz-calc(99% - 58px ) !important;
    width: -webkit-calc(99% - 58px) !important;
    width: -o-calc(99% - 58px ) !important;
    width: calc(99% - 58px) !important;

    margin:5px 30px 0px !important;
  }

  .layout_search_field_3{
    padding: 0 0 0 5px;
    height:36px;
    display: block !important;
    width: 90% !important;
        width: -moz-calc(99% - 58px ) !important;
    width: -webkit-calc(99% - 58px) !important;
    width: -o-calc(99% - 58px ) !important;
    width: calc(99% - 58px) !important;

    margin:3px 30px 0px !important;
  }

  .layout_sell_button{
    height:41px;
    padding: 1%;
    display: block !important;
    width: 80px  !important;
    padding: 0px 0px 0px 0px !important;
    display: block;

    margin: 137px auto 7px auto !important;
  }


  .right_top_layout_bar{
    display: none
  }

  .mobile_newad_button{
    float:right;
    margin-top: 3px;
  }

  .for_mobiles{
    display: inline-block;
  }
  .logo_image_div{
    margin-top: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    max-width: 70% !important;
    display: block;
    height: auto !important;
    overflow: hidden !important;
    margin-bottom: 0px;
    text-align: center;
  }

  .logo_image{
    display: inline-block;
  }

  .top-margin{
    margin-top: 0px !important;
  }

  .home_page_main_div{
    background: #FFFFFF;
  }

  .map_container{
    display:none;
  }

  .map-side-img{
    display:none;
  }

  .dotted_limiter{
    display: none;
  }
  .search_button_layout
  {
    width:100%;
    height:35px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right:5px !important;
  }
  .search_input
  {
    width:100%;
    height:35px !important;
  }

  .search_input_text
  {
    width:98%;
    height:25px !important;

  }
  div.region-list-block {
    margin-left: 10px;
  }
 #footer div.span2 {
  float: left;
  max-width: 160px;
  min-height: 100px;
 }
 #footer div.span2 div {
  margin-top: -20px;
 }
 div.view-top div.sort-block {
  padding: 5px 6px !important;
  float: left !important;
 }
  select#sort_products {
    margin-top: 5px;
    margin-bottom: 0;
  }
  div.sort-block div.select label {
    padding: 9px 5px 0 0 !important;
  }
  ul.item-location-block li.item-loc {
    padding: 18px 15px 0 8px !important;
    height: 11px;
  }
  ul.item-location-block li.item-type {
  height: 20px;
  }
  p.item-amount-block {
    float: right;
    padding: 15px 0 10px 35px !important;
  }
  div.add-pic-block {
    margin: 15px 5px 0 5px;
  }
  .js-tabs.view-top-list-block {
    padding-top: 11px;
  }
  ol.grid-list{
    vertical-align: right !important;
}
ol.grid-list > li{-webkit-border-radius:10px 10px 10px 10px !important;-moz-border-radius:10px !important;-o-border-radius:10px 10px 10px 10px !important;border-radius:10px 10px 10px 10px !important;background:none repeat scroll 0 0 transparent !important;border:1px solid #DDD !important;position:relative !important;width:229px !important;margin:10px 0 0 10px !important; display: table-cell !important; width: 229px !important; float:left !important; padding:0  !important;}
ol.grid-list li .time_left_block{float:none !important;background:url(/assets/timer-icon.png) no-repeat scroll 50% 3px !important;width:95px !important;margin:0 auto !important;padding:30px 5px 5px !important;}
ol.grid-list li div.product-description-left-block{float:none !important;margin:0 !important;}
ol.grid-list li div.product-description-right-block{width:150px !important;float:none !important;}
ol.grid-list li div.product-img{margin:0 auto !important;}
ol.grid-list li div.list-inner{-webkit-border-radius:10px 10px 10px 10px !important;-webkit-box-shadow:0 0 4px #ccc inset !important;-moz-border-radius:10px !important;-moz-box-shadow:0 0 4px #ccc inset !important;-o-border-radius:10px 10px 10px 10px !important;-o-box-shadow:0 0 4px #ccc inset !important;border-radius:10px 10px 10px 10px !important;box-shadow:0 0 4px #ccc inset !important;border:1px solid #fff !important;padding:10px 20px !important;}
ol.grid-list li div.list-inner h3{height:45px !important;padding:10px 0 !important;}
ol.grid-list li div.list-inner h3 a{display:block !important;text-align:center !important;}
ol.grid-list li div.item-sold-block{left:-7px !important;position:absolute !important;top:-7px !important;}
ol.grid-list li div.item-other-details dl{width:190px !important;}
ol.grid-list li div.item-other-details dl dd{width:105px !important;}
ol.grid-list li div.list-inner p.item-amount-block{background:url(/assets/medium-price-icon.png) no-repeat 0 12px !important;padding:16px 10px 5px 35px !important;}
ol.grid-list > li:hover div.list-inner{background:none !important;-webkit-box-shadow:0 0 4px #ff7c07 inset !important;-moz-box-shadow:0 0 4px #ff7c07 inset !important;-o-box-shadow:0 0 4px #ff7c07 inset !important;}
ol.grid-list > li:hover{border:1px solid #ffad64 !important;background:#fff5ec !important;}
ol.grid-list li div.list-inner div.product-description-right-block div.other-items-outer{max-height:30px !important;}

}