<div class="map-container clearfix">
  <span class="map-side-img">image</span>
  <div id="area_image" class="map sprite_index_map_map_s1c_blue">
    <img src="/assets/transparent_bootstrap_1px.gif" alt="Indonesia map" id="area_highlight" />
    <img src="/assets/transparent_bootstrap_1px.gif" alt="Indonesia map" id="area_map" usemap="#indonesia_map" />
    <map name="indonesia_map">
      <area shape="poly" onMouseOver="change_image(0,1)"
            onMouseOut="hide_image(0,1)"
            onClick="return startpage_set_default_ca('0', '.berniaga.com');"
            alt="Seluruh Indonesia" title="Seluruh Indonesia" coords="0,0,0,0,0,0"
            href="#" xtclib="index_INDONESIA_img">
      <area shape="poly" onMouseOver="change_image(1,1)"
            onMouseOut="hide_image(1,1)"  alt="BALI: Denpasar,
            Singaraja, Kuta, Ubud, Sanur, Nusa Dua" title="BALI: Denpasar,
            Singaraja, Kuta, Ubud, Sanur, Nusa Dua"
            coords="369,275,371,267,367,262,371,258,382,253,388,241,387,229,379,216,366,211,354,212,342,224,339,235,342,246,350,254,356,262,349,262,349,265,358,270"
            href="products/pv:11" xtclib="index_BALI_img">
      <area shape="poly" onMouseOver="change_image(2,1)"
            onMouseOut="hide_image(2,1)"  alt="BANTEN: Tangerang,
            Serang, Cilegon, Anyer, Carita, Pandeglang, Rangkasbitung"
            title="BANTEN: Tangerang, Serang, Cilegon, Anyer, Carita, Pandeglang,
            Rangkasbitung"
            coords="179,238,184,235,191,232,192,227,196,221,205,223,205,229,210,234,209,239,206,242,195,239,187,241"
            href="products/pv:7" xtclib="index_BANTEN_img">
      <area shape="poly" onMouseOver="change_image(3,1)"
            onMouseOut="hide_image(3,1)"  alt="BENGKULU:
            Bengkulu" title="BENGKULU: Bengkulu"
            coords="106,164,114,159,121,164,126,170,133,175,139,178,141,182,138,187,143,192,150,197,155,201,154,207,131,215,126,210,131,206,137,198,133,189,127,183,119,178"
            href="products/pv:15" xtclib="index_BENGKULU_img">
      <area shape="poly" onMouseOver="change_image(4,1)"
            onMouseOut="hide_image(4,1)"  alt="DIY: Yogyakarta"
            title="DIY: Yogyakarta"
            coords="283,264,283,255,289,249,301,237,301,224,292,211,278,205,260,212,254,225,255,235,259,243,269,252,270,256,271,259,276,263"
            href="products/pv:8" xtclib="index_DIY_img">
      <area shape="poly" onMouseOver="change_image(5,1)"
            onMouseOut="hide_image(5,1)"  alt="DKI: Jakarta"
            title="DKI: Jakarta"
            coords="211,234,215,225,215,221,228,214,234,204,234,191,227,179,218,174,206,173,193,181,187,188,185,202,192,213,199,218,204,222"
            href="products/pv:49" xtclib="index_DKI_img">
      <area shape="poly" onMouseOver="change_image(6,1)"
            onMouseOut="hide_image(6,1)"  alt="JAMBI: Jambi"
            title="JAMBI: Jambi"
            coords="115,158,126,167,136,162,142,157,148,159,153,151,158,149,165,148,170,146,168,137,163,132,151,132,146,130,135,135,124,134,120,138,115,149"
            href="products/pv:18" xtclib="index_JAMBI_img">
      <area shape="poly" onMouseOver="change_image(7,1)"
            onMouseOut="hide_image(7,1)"  alt="JABAR: Bandung,
            Bogor, Garut, Tasikmalaya, Bekasi, Cimahi, Cirebon, Depok, Sukabumi"
            title="JABAR: Bandung, Bogor, Garut, Tasikmalaya, Bekasi, Cimahi,
            Cirebon, Depok, Sukabumi"
            coords="204,248,212,248,217,250,232,256,242,257,246,253,243,246,247,242,248,239,245,235,237,229,227,228,222,224,214,221,214,228,214,233,209,234"
            href="products/pv:4" xtclib="index_JABAR_img">
      <area shape="poly" onMouseOver="change_image(8,1)"
            onMouseOut="hide_image(8,1)"  alt="JATENG: Semarang,
            Magelang, Surakarta, Salatiga, Pekalongan, Tegal" title="JATENG:
            Semarang, Magelang, Surakarta, Salatiga, Pekalongan, Tegal"
            coords="247,237,256,238,260,246,270,252,273,254,283,254,290,249,291,254,291,259,286,263,282,264,282,256,269,253,269,258,259,255,254,255,247,255,244,247,247,242"
            href="products/pv:6" xtclib="index_JATENG_img">
      <area shape="poly" onMouseOver="change_image(9,1)"
            onMouseOut="hide_image(9,1)"  alt="JATIM: Surabaya,
            Batu, Blitar, Kediri, Madiun, Malang, Mojokerto, Pasuruan, Probolinggo,
            Surabaya" title="JATIM: Surabaya, Batu, Blitar, Kediri, Madiun, Malang,
            Mojokerto, Pasuruan, Probolinggo, Surabaya"
            coords="298,236,306,239,314,240,318,244,320,240,330,239,334,239,343,240,340,243,331,246,325,245,320,245,319,253,324,254,331,255,343,254,350,258,348,266,352,274,343,271,336,270,328,265,315,267,307,268,299,269,293,267,288,264,292,257,291,250"
            href="products/pv:5" xtclib="index_JATIM_img">
      <area shape="poly" onMouseOver="change_image(10,1)"
            onMouseOut="hide_image(10,1)"  alt="KALBAR:
            Pontianak, Singkawang, Ketapang, KALTENG: Palangkaraya, Sampit, KALSEL:
            Banjarmasin, Banjarbaru, KALTIM: Samarinda, Tarakan, Balikpapan,
            Bontang, Nunukan" title="KALBAR: Pontianak, Singkawang, Ketapang,
            KALTENG: Palangkaraya, Sampit, KALSEL: Banjarmasin, Banjarbaru, KALTIM:
            Samarinda, Tarakan, Balikpapan, Bontang, Nunukan"
            coords="278,173,266,168,267,153,259,141,251,128,247,110,248,92,261,81,274,96,292,100,305,95,319,87,327,94,343,92,349,87,358,73,364,61,369,44,379,40,400,41,409,49,408,56,412,71,418,83,429,98,416,108,404,115,406,126,403,136,392,145,386,157,388,165,384,183,381,191,360,191,344,193,348,182,324,178,313,183,299,183,295,172"
            href="products/pv:22"
            xtclib="index_KALBAR_KALTENG_KALSEL_KALTIM_img">
      <area shape="poly" onMouseOver="change_image(11,1)"
            onMouseOut="hide_image(11,1)"
            alt="LAMPUNG: Bandar Lampung, Metro" title="LAMPUNG: Bandar Lampung,
            Metro"
            coords="156,207,162,205,167,199,171,194,178,192,183,187,191,189,196,211,193,220,187,219,184,215,181,221,175,218,173,221,166,220"
            href="products/pv:27" xtclib="index_LAMPUNG_img">
      <area shape="poly" onMouseOver="change_image(12,1)"
            onMouseOut="hide_image(12,1)" alt="NAD: Banda Aceh,
            Langsa, Lhokseumawe, Sabang" title="NAD: Banda Aceh, Langsa,
            Lhokseumawe, Sabang"
            coords="1,8,5,12,12,17,21,20,31,22,42,21,48,27,50,35,51,42,52,47,49,52,52,57,52,63,53,70,53,77,48,77,42,80,35,82,26,79,17,73,9,69,15,56,20,49,14,40,6,32,1,22,1,12"
            href="products/pv:12"
            xtclib="index_NAD_img">
      <area shape="poly" onMouseOver="change_image(13,1)"
            onMouseOut="hide_image(13,1)"
            alt="NTB: Matarman, Bima, Kepulauan Gili, Kuta Lombok, NTT: Kupang"
            title="NTB: Matarman, Bima, Kepulauan Gili, Kuta Lombok, NTT: Kupang"
            coords="612,264,604,242,578,248,535,258,511,261,494,260,491,265,480,266,471,266,447,261,434,260,417,260,397,264,390,264,379,263,374,269,374,273,375,276,384,279,391,282,407,281,419,280,423,285,430,293,440,295,448,301,459,305,471,309,480,312,511,312,536,295,543,284,567,271"
            href="products/pv:30,31" xtclib="index_NTB_NTT_img">
      <area shape="poly" onMouseOver="change_image(14,1)"
            onMouseOut="hide_image(14,1)"  alt="MALUT: Ternate,
            Tidore, Jailolo, AMBON: Ambon, Dobo, Namlea, PAPARAT: Fak-Fak, Sorong,
            Manokwari, Bintuni, Kaimana, PAPUA: Jayapura, Merauke, Biak, Timika,
            Nabire, Agats, Serui" title="MALUT: Ternate, Tidore, Jailolo, AMBON:
            Ambon, Dobo, Namlea, PAPARAT: Fak-Fak, Sorong, Manokwari, Bintuni,
            Kaimana, PAPUA: Jayapura, Merauke, Biak, Timika, Nabire, Agats, Serui"
            coords="618,258,624,263,642,267,651,262,659,253,662,242,682,225,699,228,700,241,710,244,717,232,736,202,746,207,766,218,773,230,777,242,768,249,760,268,764,274,774,270,782,270,788,265,795,268,806,264,824,282,827,277,825,161,819,155,807,155,795,151,780,145,773,141,764,140,751,142,744,134,735,126,726,126,719,130,710,130,703,125,692,126,682,124,670,120,660,122,653,117,641,113,630,114,615,108,605,95,605,70,597,69,580,90,581,112,577,126,577,143,529,144,522,152,544,156,551,167,552,176,565,191,581,187,595,183,616,183,631,190,644,196,654,209,662,219,660,231,652,242,642,253,623,252"
            href="products/pv:28,29"
            xtclib="index_MALUT_AMBON_PAPARAT_PAPUA_img">
      <area shape="poly" onMouseOver="change_image(15,1)"
            onMouseOut="hide_image(15,1)"
            alt="RIAU: Dumai, Pakanbaru, KEPRI: Batam, Tanjung Pinang" title="RIAU:
            Dumai, Pakanbaru, KEPRI: Batam, Tanjung Pinang"
            coords="91,68,97,74,103,77,109,76,113,80,119,79,160,67,166,63,191,63,193,60,200,57,233,46,237,43,239,47,241,52,223,53,204,59,202,63,193,66,167,69,154,72,124,83,137,89,147,97,162,100,180,120,172,124,159,124,151,127,143,131,134,136,129,133,120,134,107,127,100,112,94,108,91,102,93,93,98,89,98,81"
            href="products/pv:35"
            xtclib="index_RIAU_img">
      <area shape="poly" onMouseOver="change_image(16,1)"
            onMouseOut="hide_image(16,1)"
            alt="SULBAR: Polewali, Majene, Mamuju, SULSEL: Makassar, Pare-Pare, Tana
            Toraja, Palopo, SULTENGG: Kendari, Wakatobi, Bau Bau" title="SULBAR:
            Polewali, Majene, Mamuju, SULSEL: Makassar, Pare-Pare, Tana Toraja,
            Palopo, SULTENGG: Kendari, Wakatobi, Bau Bau"
            coords="469,250,468,242,461,229,462,216,470,208,482,214,495,221,502,218,513,213,516,206,507,195,510,187,498,185,490,175,486,173,479,167,475,161,470,159,461,159,455,151,446,151,445,146,440,138,440,134,434,140,432,148,432,153,432,159,430,162,426,166,427,181,435,181,440,186,440,194,438,203,435,210,436,217,450,221,455,217,453,226,455,233,457,241,457,248"
            href="products/pv:10"
            xtclib="index_SULBAR_SULSEL_SULTENGG_img">
      <area shape="poly" onMouseOver="change_image(17,1)"
            onMouseOut="hide_image(17,1)"
            alt="SULUT: Manado, Bitung, Tondano, GORONTALO: Gorontalo, SULTENG:
            Palu, Toli-Toli, Poso, Donggala, Buol" title="SULUT: Manado, Bitung,
            Tondano, GORONTALO: Gorontalo, SULTENG: Palu, Toli-Toli, Poso, Donggala,
            Buol"
            coords="442,131,442,119,445,110,449,99,459,96,476,94,488,98,499,98,520,97,529,91,541,83,542,69,541,53,546,46,552,43,567,35,573,36,574,43,573,50,565,59,552,66,549,80,546,85,545,86,542,97,531,110,507,124,511,133,518,145,518,152,498,151,486,145,483,149,482,160,493,173,481,168,470,157,463,157,454,153,447,147,440,139"
            href="products/pv:40"
            xtclib="index_SULUT_GORONTALO_SULTENG_img">
      <area shape="poly" onMouseOver="change_image(18,1)"
            onMouseOut="hide_image(18,1)"
            alt="SUMBAR: Padang, Bukittinggi, Padang Panjang, Pariaman, Payakumbuh,
            Sawahlunto, Solok" title="SUMBAR: Padang, Bukittinggi, Padang Panjang,
            Pariaman, Payakumbuh, Sawahlunto, Solok"
            coords="98,171,102,165,108,160,113,158,113,154,115,147,118,141,120,135,114,130,107,126,105,121,104,115,101,110,94,108,91,103,85,103,85,107,83,108,77,108,74,114,78,122,77,129,67,130,63,136,63,144,72,151,77,152,80,160,86,161,87,168,90,171,95,174"
            href="products/pv:41" xtclib="index_SUMBAR_img">
      <area shape="poly" onMouseOver="change_image(19,1)"
            onMouseOut="hide_image(19,1)"  alt="SUMSEL:
            Palembang, Prabumulih, Lahat, Baturaja, BABEL: Pangkal Pinang"
            title="SUMSEL: Palembang, Prabumulih, Lahat, Baturaja, BABEL: Pangkal
            Pinang"
            coords="127,169,132,173,136,176,140,177,142,180,138,185,139,189,146,194,153,196,155,203,160,205,164,201,169,193,177,192,183,186,188,187,197,182,202,173,210,172,225,173,233,177,238,169,234,163,226,160,210,161,206,159,198,154,200,150,194,143,188,143,180,151,173,152,169,147,160,148,154,152,151,158,144,158"
            href="products/pv:42"
            xtclib="index_SUMSEL_BABEL_img">
      <area shape="poly" onMouseOver="change_image(20,1)"
            onMouseOut="hide_image(20,1)"
            alt="SUMUT: Medan, Binjai, Padang Sidempuan, Pematangsiantar, Sibolga,
            Tanjung Balai, Tebing Tinggi" title="SUMUT: Medan, Binjai, Padang
            Sidempuan, Pematangsiantar, Sibolga, Tanjung Balai, Tebing Tinggi"
            coords="50,47,46,38,45,24,53,9,68,0,82,0,98,10,104,18,106,31,104,42,96,52,86,59,81,59,88,64,89,69,92,73,94,79,95,85,96,89,91,92,91,95,91,100,86,102,82,105,79,108,74,109,63,124,59,122,46,106,38,96,36,92,43,89,55,79,55,75,55,68,54,59"
            href="products/pv:9" xtclib="index_SUMUT_img">
      <area shape="poly" coords="783,265" href="#">
    </map>
    <div class="fb_home">
      <div class="fb-like" data-href="https://www.facebook.com/jualocom" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="lucida grande"></div>
    </div>
  </div>
</div>
<!-- Map Area -->
<!-- Map Area end -->